{% set DEVELOPMENT = "true" %}
{% set NAVIGATION_MENU = [
	("/matrix/enterprise", "matrices", "Matrices"),
	("/tactics/", "tactics", "Tactics"),
	("/techniques/", "techniques", "Techniques"),
	("/groups/", "groups", "Groups"),
	("/software.html", "software", "Software"),
	("/resources.html", "resources", "Resources"),
	("/blog.html", "blog", "Blog"),
	("/contact.html", "contact", "Contact"),
] -%}
{% set DOMAINS = [("Enterprise"),("Mobile"),("PRE-ATT&CK")] -%}
{% set active_page = active_page|default('index') -%}
{% set title = title|default('MITRE ATT&CK&trade;') -%}
<!DOCTYPE html>
<html lang='en'>
<head>
    {% block head %}
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='shortcut icon' href='/theme/favicon.ico' type='image/x-icon'>
    <title>{{ title }}</title>
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/theme/style/bootstrap.min.css' />
    <link rel='stylesheet' href='/theme/style/bootstrap-glyphicon.min.css' />
    <link href='/theme/style/style.css' rel='stylesheet' type='text/css' /> {% endblock %}
</head>
<body>
    <header class='pb-5'>
        {% block nav %} 
        <nav class='navbar navbar-expand-lg navbar-dark fixed-top bg-orange border-bottom'>
                <a class='navbar-brand' href='/'><img class='d-lg-inline' src='/theme/images/logo-white-small.png'></a>
                <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation'>
                  <span class='navbar-toggler-icon'></span>
                </button>
                <div class='collapse navbar-collapse' id='navbarCollapse'>
                    <ul class='nav nav-tabs ml-auto'>
                        {% for href, id, caption in NAVIGATION_MENU %}
                            {% if "Tactics" == caption %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{ href|e }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ caption|e }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for domain in DOMAINS %}
                                        <a class="dropdown-item" href="{{ href|e }}">{{ domain }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                            {% elif "Techniques" == caption %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{ href|e }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ caption|e }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% for domain in DOMAINS %}
                                            <a class="dropdown-item" href="{{ href|e }}">{{ domain }}</a>
                                        {% endfor %}
                                </div>
                            </li>
                            {% else %}
                                <li class="nav-item"><a href="{{ href|e }}" {% if id == active_page %} class="nav-link active" {% else %} class="nav-link" {% endif %}>{{ caption|e }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                 <ul class='navbar-nav flex-row ml-md-auto d-none d-md-flex'>
                  <li>
                    <form class='form-inline pl-2'>
                      <input class='form-control' type='text' placeholder='Search site' aria-label='Search'>
                    </form>
                  </li>
                </ul>
        </nav>
    </header>
    {% if DEVELOPMENT == "true" %}
    <div class="container-fluid under-development">
        <span class="glyphicon glyphicon-warning-sign"></span> This site is currently under active development, please see <a href="https://attack.mitre.org">attack.mitre.org</a> for the production site.
    </div>
    {% endif %}
    {% endblock %}
    <div id='content'>{% block content %} {% block left %} {% endblock %} {% block right %} {% endblock %} {% endblock %}</div>
    <footer class="footer row pt-5">
        <div class="container text-center">
            <a class="btn btn-primary" href="https://twitter.com/MITREattack" target="_blank" rel="noopener" aria-label="Twitter">
                <img src="/theme/images/twitter.png" class="mx-auto d-block" width="28" height="28"> Follow us!</a>
            <p>
                <br>Copyright © 2018, The MITRE Corporation. ATT&CK and ATT&CK Matrix are trademarks of The MITRE Corporation.</p>
            <p>MITRE is a trademark of the MITRE Corporation. MITRE copyrighted material on this site may be copied and distributed
                with permission only.</p>
        </div>
    </footer>
    </div>
    <!--SCRIPTS-->
    <script src="/theme/scripts/jquery-3.2.1.min.js"></script>
    <script src="/theme/scripts/popper.min.js"></script>
    <script src="/theme/scripts/bootstrap.min.js"></script>
    <script src="/theme/scripts/site.js"></script>
</body>

</html>